* {
	font-family: 'Playfair Display', serif;
}

/* ----- MICROMODAL STYLES ----- */

.modal {
	display: none;
}

.modal.is-open {
	display: block;
}

.modal_overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal_container {
	background-color: #fff;
	padding: 30px;
	min-width: 400px;
	min-height: 400px;
	max-width: 500px;
	max-height: 100vh;
	border-radius: 4px;
	overflow-y: auto;
	box-sizing: border-box;
}

.modal_header {
	/* - Not sure if necessary - display: flex; */
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.modal_title {
	
}

.modal_content {
	margin-top: 2rem;
	margin-bottom: 2rem;
	line-height: 1.5;
	color: rgba(0,0,0,.8);
}

.modal_btn {
	font-size: .875rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	background-color: #e6e6e6;
	color: rgba(0,0,0,.8);
	border-radius: .25rem;
	border-style: none;
	border-width: 0;
	cursor: pointer;
	-webkit-appearance: button;
	text-transform: none;
	overflow: visible;
	line-height: 1.15;
	margin: 0;
	will-change: transform;
	-moz-osx-font-smoothing: grayscale;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	transition: -webkit-transform .25s ease-out;
	transition: transform .25s ease-out;
	transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

/* ------ SITE STYLES ------ */

#wrapper {
	padding: 1.2rem 2rem 0rem 2rem;
}

#header-row {
	padding: 0rem 0rem .7rem 0rem;
	border-bottom: 1px solid #F2F2F2;
}

#main-row {
	padding: .7rem 0rem 0rem 0rem;
}

.header-text {
	color: #D9D9D9;
	font-size: .8rem;
}

.main-text {
	font-size: 2.2rem;
	color: #C1C1C1;
}

.small-text {
	font-size: 1.5rem;
	color: #C1C1C1;
	margin-top: 4rem;
} 

.count {
	color: #A62628;
}

.underline {
	text-decoration: underline dotted #A62628;
	cursor: pointer;
	-webkit-text-decoration-line: underline;
	-webkit-text-decoration-style: dotted;
	-webkit-text-decoration-color: #A62628;
}

.bold {
	color: #595959;
}

/* #F2F2F2 #D9D9D9 #A6A6A6 #595959 #262626 */

/* #A62628 */
